<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${time} [${logger:shortName=True}] [${threadid}] [cid:${mdlc:item=executionContextId}] ${message} ${onexception:inner=${newline}Exception at ${callsite}${newline}${exception:format=Type,Message:maxInnerExceptionLevel=10}}" />

    <target name="filelog" xsi:type="File" fileName="c:\logs\AwesomeService.${shortdate}.txt"
            layout="${time} ${uppercase:inner=${level}} [${threadid}] [cid:${mdlc:item=executionContextId}] ${logger:shortName=True}: ${message} ${onexception:inner=${newline}Exception at ${callsite}${newline}${exception:format=Type,Message,StackTrace:maxInnerExceptionLevel=10}}" />

  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="filelog" />
  </rules>
</nlog>